<!DOCTYPE html>
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="css/index.css">
        
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        

        <script src="bower_components/vue/dist/vue.min.js"></script>

        
        <title>Zoom Shortcuts</title>
    </head>
    <body>
        <!-- <h2>UART</h2>
        <div>
            <input type="text" id="messageInput" value="Hello" />
            <span id="sendButton">Send</span>
            <div id="outputDiv"></div>
        </div> -->

        <div id="vueApp" class="container px-1">
<!--         
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li v-for="tabObj in tabs" class="nav-item" role="presentation">
              <a 
              class="nav-link"
              :id="'pills-'+tabObj.tabId+'-tab'" 
              data-toggle="pill" 
              :href="'#pills-'+tabObj.tabId" 
              role="tab" 
              :aria-controls="'pills-'+tabObj.tabId" 
              aria-selected="true">Home</a>
            </li>
          </ul> -->
        <!-- </div> -->

        <!-- :href="'#content_'+tabObj.tabId" -->

        <ul class="nav nav-pills nav-fill px-2" id="pills-tab" role="tablist">
          
          <li v-for="tabObj in tabs" class="nav-item" role="presentation">
            <a class="nav-link" 
            :class="{active: tabObj.show}"
            :id="tabObj.tabId + '-tab'" 
            data-toggle="pill" 
            v-on:click="showTab(tabObj)"
            role="tab" 
            :aria-controls="'#content_'+tabObj.tabId" 
            :aria-selected="tabObj.default">{{tabObj.tabId}}</a>
          </li>
        </ul>
        <div class="tab-content mx-0" id="pills-tabContent">

          <div 
            v-for="(tabObj, index) in tabs" 
            class="tab-pane fade p-0 m-0 " 
            :class="{'show active': tabObj.show}"
            :id="'#content_'+tabObj.tabId" 
            role="tabpanel" 
            :aria-labelledby="tabObj.tabId + '-tab'">
            
            <div class="p-0 m-0 d-flex justify-content-center flex-wrap">
                            
              <button v-for="btn in tabObj.btns" type="button" 
                v-on:click="btnClick(tabObj.tabId, btn)"
                class="mx-1 my-3 p-2 btn btn-md d-flex justify-content-between align-items-center shadow " style="width: 10rem;"
                :class="btn.btn_outline">
                  <span class="text-left">
                    {{btn.action}}
                    <span v-if="btn.badge">({{btn.badge}})</span>
                  </span>
                <!-- <span>
                  {{btn.action}}
                  <span v-if="btn.badge" class="badge badge-light">{{btn.badge}}</span>
                </span> -->
                <img :src="'img/bootstrap-icons/'+btn.icon" alt="" width="25em" height="25em" title="Bootstrap">
              </button>
    
            </div>    <!-- end container -->
    
          </div>
          
        </div>

        </div>



        <script src="bower_components/jquery/dist/jquery.slim.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- <script type="text/javascript" src="cordova.js"></script> -->
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
